################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Test_App/Test_App/.vs/Test_App
/Test_App/Test_App/bin/Debug/netcoreapp3.1
/Test_App/Test_App/obj
